<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>

<body>
  test
    <form action="http://apis.data.go.kr/1360000/VilageFcstInfoService" method="GET">
      <input type="hidden" name="ServiceKey" value="FN9dvbIFkjjMAvdMS/XTnryPQ0AORLpkOTAvRyKO8qP/4rPLihbXbEpnjvlBGsbxnU7XX4E56+mTKBc1P5nqbA=="/>
      <input type="hidden" name="pageNo" value="1"/>
      <input type="hidden" name="numOfRows" value="4"/>
      <input type="hidden" name="dataType" value="XML"/>
      <input type="hidden" name="base_date" value="ASOS"/>
      <input type="hidden" name="base_time" value="DAY"/>
      <input type="hidden" name="startDt" value="20210101"/>
      <input type="hidden" name="nx" value="20210101"/>
      <input type="hidden" name="ny" value="112"/>
      <input type="submit" name="전송" value="전송"/>
    </form>
</body>
</html>
